<!DOCTYPE html>

<head>

    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../../../public/assets/css/burger_style.css">
    <title>"The Burger House"</title>
</head>

<body>
<div class="container">
    <nav class="navbar titlebar">
        <h1>The Burger House</h1>
    </nav>
    <div class="row">

        <div class="col-md-4 ">
            <div class="card burger">
                <div class="row">
                    <div class="col-md-4">
                        <img class="d-block w-100 rounded" src="../../../public/assets/img/full1.png" alt="">
                    </div>
                    <div class="col-md-8">
                        <div class="card-block">
                            <p>Burger 1</p>
                            <a href="#" class="btn btn-outline-secondary btn-sm float-right">Eat Burger</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card burger">
                <div class="row">
                    <div class="col-md-4">
                        <img class="d-block w-100 rounded" src="../../../public/assets/img/full1.png" alt="">
                    </div>
                    <div class="col-md-8">
                        <div class="card-block">
                            <p>Burger 1</p>
                            <a href="#" class="btn btn-outline-secondary btn-sm float-right">Eat Burger</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card burger">
                <div class="row">
                    <div class="col-md-4">
                        <img class="d-block w-100 rounded" src="../../../public/assets/img/full1.png" alt="">
                    </div>
                    <div class="col-md-8">
                        <div class="card-block">
                            <p>Burger 1</p>
                            <a href="#" class="btn btn-outline-secondary btn-sm float-right">Eat Burger</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card burger">
                <div class="row">
                    <div class="col-md-4">
                        <img class="d-block w-100 rounded" src="../../../public/assets/img/full1.png" alt="">
                    </div>
                    <div class="col-md-8">
                        <div class="card-block">
                            <p>Burger 1 </p>
                            <a href="#" class="btn btn-outline-secondary btn-sm float-right">Eat Burger</a>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="col-md-4 create-burger">

            <div>
                <form>
                    <div class="form-group burger">
                        <input type="text" class="form-control" id="burger-name" placeholder="Enter burger name">
                    </div>
                    <button type="submit" class="btn btn-outline-secondary btn-sm float-right">Submit</button>
                </form>
            </div>



        </div>
        <div class="col-md-4 ">
            <div class="card burger">
                <div class="row">
                    <div class="col-md-4">
                        <img class="d-block w-100 rounded" src="../../../public/assets/img/eaten1.png" alt="">
                    </div>
                    <div class="col-md-8">
                        <div class="card-block">
                            <p>Burger 2</p>
                            <a href="#" class="btn btn-outline-secondary btn-sm float-right">Complete Eating</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


</div>

<!-- Script Files -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>

</html>