<div class="container">
    <nav class="navbar titlebar">
        <h1>The Burger Logger
        </h1>
    </nav>
    <div class="row">
<!--        This div is for entering new burgers-->
        <div class="col-md-4 ">
            {{#each burgers}}
                {{#unless devoured}}
                    {{> burgers/burger-block devoured=false}}
                {{/unless}}
            {{/each}}
        </div>

<!--        This area is for entering burger-->
        <div class="col-md-4 create-burger">
            <div>
                <form class="burger-form">
                    <div class="form-group">
                        <input type="text" class="form-control" id="burger-name" placeholder="Enter burger name">
                    </div>
                    <button type="submit" class="btn btn-outline-secondary btn-sm float-right">Submit</button>
                </form>
            </div>

        </div>

<!--        This div is for entering eaten burgers-->
        <div class="col-md-4 ">
            {{#each burgers}}
                {{#if devoured}}
                    {{> burgers/burger-block devoured=true}}
                {{/if}}
            {{/each}}

        </div>
    </div>
</div>