.burger {
    margin: 2px;
    padding: 5px;
}
body {
    background-image: url("../img/bg.png");
    background-repeat: no-repeat;
    background-size: auto;
}
.titlebar{
    background-color: rgb(221, 171, 105);
}

h1 {
    margin: auto;
}

.create-burger{
    margin: auto;
}