<div class="card burger">
    <div class="row">
        <div class="col-md-4">
            <img class="d-block w-100 rounded" src="/assets/img/full1.png" alt="">
        </div>
        <div class="col-md-8">
            <div class="card-block">
                <p>{{name}}</p>
                <a href="#" class="btn btn-outline-secondary btn-sm float-right" data-id="{{id}}">
                    {{#if eaten}}Finish Burger!{{else}}Eat Burger!{{/if}}</a>
            </div>
        </div>
    </div>
</div>